<?xml version="1.0" encoding="UTF-8"?>
<?link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/plantilla.zul"?>
<?page title="DW4JWeb"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window self="@{define(content)}" border="normal" title="Administrar Indices"
            apply="com.develcom.paginas.administracion.AdministraIndice" id="winAdminIndices">
        <vlayout>
            <groupbox open="true" closable="false">
                <vbox align="right" pack="center">
                    <hbox align="center" pack="center">
                        <label value="Librerias"/>
                        <combobox width="380px" id="cmbLibrerias"/>
                    </hbox>
                    <hbox align="center" pack="center">
                        <label value="Categorias"/>
                        <combobox width="380px" id="cmbCategorias"/>
                    </hbox>
                </vbox>
            </groupbox>
            <groupbox open="true" closable="false">
                <caption id="capTituloIndicesexistentes"/>
                <hbox align="left">
                    <listbox id="lstIndicesExistentes" mold="paging" pageSize="5" rows="5">
                        <listhead>
                            <listheader label="Nombre"/>
                            <listheader width="100px" label="ID"/>
                            <listheader width="100px" label="Obligatorio"/>
                            <listheader width="100px" label="Tipo de Dato"/>
                        </listhead>                        
                    </listbox>
                </hbox>
            </groupbox>
            <groupbox open="true" closable="false">
                <caption label="Recuerde el orden de los Indices al crearlos, desde el principal hasta el cuarto"/>
                <hbox align="left">
                    <hbox align="center" pack="center">
                        <label value="Nombre del Indice"/>
                        <textbox width="400px" id="txtNombreIndice" value=""/>
                    </hbox>
                    <space/>
                    <hbox align="center" pack="center">
                        <label value="Tipo de Dato"/>
                        <combobox id="cmbTipoDato">
                            <comboitem label="TEXTO"/>
                            <comboitem label="NUMERO"/>
                            <comboitem label="FECHA"/>
                            <comboitem label="COMBO"/>
                            <comboitem label="AREA"/>
                        </combobox>
                        <space/>
                        <checkbox id="chkObligatorio" label="Obligatorio" onCheck="" />
                    </hbox>
                </hbox>
                <space/>
                <hbox>
                    <box align="center" pack="center">
                        <groupbox open="true" closable="false" width="230px">
                            <caption label="Orden de despliege de los Indices"/>
                            <radiogroup onCheck="">
                                <radio id="rdPrincipal" label="Principal"/>
                                <space/>
                                <radio id="rd2do" label="2do"/>
                                <space/>
                                <radio id="rd3ro" label="3ro"/>
                                <space/>
                                <radio id="rd4to" label="4to"/>
                            </radiogroup>
                        </groupbox>
                    </box>
                    <space/>
                    <box>
                        <space/>
                        <button id="btnAgregar" label="Agregar" onClick=""/>
                    </box>
                </hbox>
            </groupbox>
            <groupbox>
                <caption label="Nuevo Indices"/>
                <listbox id="lstIndicesNuevos" mold="paging" pageSize="5" rows="5">
                    <listhead>
                        <listheader label="Nombre"/>
                        <listheader width="100px" label="ID"/>
                        <listheader width="100px" label="Obligatorio"/>
                        <listheader width="100px" label="Tipo de Dato"/>
                    </listhead>                        
                </listbox>
            </groupbox>
            <grid>
                <columns>
                    <column label=""/>
                    <column label=""/>
                </columns>
                <rows>
                    <row>
                        <cell align="center">
                            <button id="btnGuardar" label="Guardar"/>
                        </cell>
                        <cell align="center">
                            <button label="Inicio" onClick="Executions.sendRedirect(&quot;principal.zul&quot;)"/>
                        </cell>
                    </row>
                </rows>
            </grid>
        </vlayout>
    </window>
</zk>
