<?xml version="1.0" encoding="UTF-8"?>
<?link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/plantilla.zul"?>
<?page title="DW4JWeb"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window self="@{define(content)}" border="normal" title="Administrar Usuarios"
            apply="com.develcom.paginas.administracion.AdministraUsuario" id="winAdminUsuarios">
        <vlayout>
            <vbox>
                <label id="lblMensaje"/>
                <label id="lblMensajeUser"/>
            </vbox>
            <groupbox open="true" closable="false">
                <hbox align="left" pack="center">
                    <label value="Usuario"/>
                    <textbox id="txtUsuario" value=""/>
                    <space/>
                    <button id="btnComprobarUsuario" label="Comprobar usuario" onClick=""/>
                </hbox>
            </groupbox>
            <groupbox open="true" closable="false">
                <vbox>
                    <hbox>
                        <label value="Libreria"/>
                        <combobox width="750px" id="cmbLibreria"/>
                    </hbox>
                    <hbox>
                        <label value="Categorias"/>
                        <listbox id="lstCategorias" mold="paging" pageSize="5" multiple="true" checkmark="true" rows="5">
                            <listhead>
                                <listheader label="Categorias"/>
                            </listhead>
                        </listbox>
                    </hbox>
                </vbox>
            </groupbox>
            <groupbox open="true" closable="false">
                <hbox align="" pack="center">
                    <groupbox open="true" closable="false" width="200px">
                        <caption label="Perfil Usuario"/>
                        <hbox>
                            <vbox>
                                <checkbox id="chkDigitalizador" label="Digitalizador" onCheck="" />
                                <checkbox id="chkImprimir" label="Imprimir" onCheck="" />
                                <checkbox id="chkReportes" label="Reportes" onCheck="" />
                                <checkbox id="chkEliminar" label="Eliminar" onCheck="" />
                            </vbox>
                            <vbox>
                                <checkbox id="chkAdministrador" label="Administrador" onCheck="" />
                                <checkbox id="chkConsultar" label="Consultar" onCheck="" />
                                <checkbox id="chkAprobador" label="Aprobador" onCheck="" />
                            </vbox>
                        </hbox>
                    </groupbox>
                    <space/>
                    <groupbox open="true" closable="false" width="200px">
                        <caption label="Estatus Usuario"/>
                        <radiogroup id="rdgEstatus" onCheck="">
                            <vbox>
                                <radio id="rdActivo" label="Activo" radiogroup="rdgEstatus"/>
                                <radio id="rdInactivo" label="Inactivo" radiogroup="rdgEstatus"/>
                            </vbox>
                        </radiogroup>
                    </groupbox>
                    <space/>
                    <groupbox open="true" closable="false" width="200px">
                        <caption label="Estatus Usuario"/>
                        <checkbox id="chkPerteneceFabrica" label="¿Pertenece a la fabrica?" onCheck="" />
                    </groupbox>
                    <space/>
                    <box>
                        <space/>
                        <space/>
                        <space/>
                        <space/>
                        <space/>
                        <button id="btnAgregar" label="Agregar Perfil" onClick=""/>
                    </box>
                </hbox>
            </groupbox>
            <groupbox open="true" closable="false">
                <vbox>
                    <hbox>
                        <label value="Nuevo Estatus del Usuario: "/>
                        <label id="lblEstatus" value="ninguno"/>
                    </hbox>
                    <listbox id="lstPerfil" mold="paging" pageSize="5" multiple="true" checkmark="true" rows="5">
                        <listhead>
                            <listheader width="100px" label="Usuario"/>
                            <listheader width="120px" label="Perfil"/>
                            <listheader label="Librerias" />
                            <listheader label="Categorias"/>
                        </listhead>
                    </listbox>
                </vbox>
            </groupbox>
            <grid>
                <columns>
                    <column label=""/>
                    <column label=""/>
                    <column label=""/>
                </columns>
                <rows>
                    <row>
                        <cell align="center">
                            <button id="btnGuardar" label="Guardar" onClick=""/>
                        </cell>
                        <cell align="center">
                            <button id="btnEliminarFilas" label="Eliminar Filas" onClick=""/>
                        </cell>
                        <cell align="center">
                            <button label="Inicio" onClick="Executions.sendRedirect(&quot;principal.zul&quot;)"/>
                        </cell>
                    </row>
                </rows>
            </grid>
        </vlayout>
    </window>
</zk>
