<?xml version="1.0" encoding="UTF-8"?>
<?link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/plantilla.zul"?>
<?page title="DW4JWeb"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window self="@{define(content)}" border="normal" apply="com.develcom.paginas.consulta.arbol.Arbol"
            id="winResultado" title="Consulta">
        <vlayout>
            <groupbox open="true" closable="false">
                <caption label="Seleccione el tipo de documento a visualizar"/>
                <hbox>
                    <groupbox open="true" closable="false" width="650px">
                        <caption id="capTituloArbol"/>
                        <tree id="arbolDoc" rows="12"/>
                    </groupbox>
                    <groupbox open="true" closable="false" width="650px">
                        <caption id="capTituloIndices"/>
                        <listbox id="indices" rows="10">
                            <listhead>
                                <listheader width="800px"/>
                            </listhead>
                        </listbox>
                    </groupbox>
                </hbox>
            </groupbox>
            <grid>
                <columns>
                    <column label=""/>
                    <column label=""/>
                    <column label=""/>
                </columns>
                <rows>
                    <row>
                        <cell align="center">
                            <button id="btnConsulta" label="Nueva Consulta" onClick=""/>
                        </cell>
                        <cell align="center">
                            <button id="btnRegresa" label="Regresar" onClick=""/>
                        </cell>
                        <cell align="center">
                            <button label="Inicio" onClick="Executions.sendRedirect(&quot;principal.zul&quot;)"/>
                        </cell>
                    </row>
                </rows>
            </grid>
        </vlayout>
    </window>
</zk>
