<?xml version="1.0" encoding="UTF-8"?>
<?link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/plantilla.zul"?>
<?page title="DW4JWeb"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window self="@{define(content)}" border="normal" apply="com.develcom.paginas.calidad.BuscaExpediente" 
            width="21%" id="winBuscaExpediente">
        <groupbox open="true" closable="false">
            <caption label="Seleccione la busqueda del Expediente"/>
            <radiogroup id="sv1" />
            <vbox>
                <groupbox open="true" closable="false">
                    <vbox>
                        <radio id="rdBuscarSimple" label="Busqueda simple" radiogroup="sv1" />
                        <space/>
                        <hbox>
                            <label value="Id Expediente"/>
                            <textbox id="txtExpediente" />
                        </hbox>
                    </vbox>
                </groupbox>
                <space/>
                <groupbox open="true" closable="false">
                    <vbox>
                        <radio id="rdRangoFecha" label="Listado periodo" radiogroup="sv1" />
                        <space/>
                        <hbox>
                            <label value="Fecha Desde "/>
                            <datebox id="dbFechaDesde" format="MM/dd/yyyy"/>
                        </hbox>
                        <space/>
                        <hbox>
                            <label value="Fecha Hasta "/>
                            <datebox id="dbFechaHasta" format="MM/dd/yyyy"/>
                        </hbox>
                    </vbox>
                </groupbox>
                <space/>
                <groupbox open="true" closable="false">
                    <vbox>
                        <radio id="rdListadoPendiente" label="Listado pendiente" radiogroup="sv1" />
                    </vbox>
                </groupbox>
                <space/>
                <grid>
                    <columns>
                        <column label=""/>
                        <column label=""/>
                    </columns>
                    <rows>
                        <row>
                            <cell align="center">
                                <button id="btnAceptar" label="Aceptar" onClick=""/>
                            </cell>
                            <cell align="center">
                                <button label="Inicio" onClick="Executions.sendRedirect(&quot;principal.zul&quot;)"/>
                            </cell>
                        </row>
                    </rows>
                </grid>
            </vbox>
        </groupbox>
    </window>
</zk>
