<?xml version="1.0" encoding="UTF-8"?>
<?link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/plantilla.zul"?>
<?page title="DW4JWeb"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window self="@{define(content)}" id="winConsultaIndices" apply="com.develcom.paginas.indice.ConsultaIndice"
            title="Indices" border="normal">
        <vlayout>
            <vbox align="left">
                <groupbox open="true" closable="false">
                    <!--caption label=""/--> 
                    <vbox align="left">
                        <label id="lblLibreria"/>
                        <label id="lblCategoria"/>
                    </vbox>
                </groupbox>
                <groupbox open="true" closable="false">
                    <caption label="Consultar Indices"/>
                    <grid id="panelIndice" >
                        <columns>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                        </columns>
                        <rows>                
                        </rows>
                    </grid>
                </groupbox>
                <grid>
                    <columns>
                        <column label=""/>
                        <column label=""/>
                    </columns>
                    <rows>
                        <row>
                            <cell align="center">
                                <button id="consulta" label="Consultar" onClick=""/>
                            </cell>
                            <cell align="center">
                                <button label="Inicio" onClick="Executions.sendRedirect(&quot;principal.zul&quot;)"/>
                            </cell>
                        </row>
                    </rows>
                </grid>
            </vbox>
        </vlayout>
    </window>
</zk>
