<?xml version="1.0" encoding="UTF-8"?>
<?link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/plantilla.zul"?>
<?page title="DW4JWeb"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window self="@{define(content)}" border="normal" apply="com.develcom.paginas.consulta.Consulta"
            id="winConsulta" title="Consulta">
        <vlayout>
            <groupbox open="true" closable="false" width="100%">
                <caption label="Puede o no seleccionar la SubCategoria y el Tipo de Documento o solo la SubCategoria"/>
                <hbox>
                    <groupbox open="true" closable="false" width="640px">
                        <caption label="Sub-Categorias"/>
                        <listbox id="lstSubCategoria" multiple="true" rows="5">
                            <listhead>
                                <listheader label="" width="800px"/>
                            </listhead>
                        </listbox>
                    </groupbox>
                    <groupbox open="true" closable="false" width="640px">
                        <caption label="Tipo de Documento"/>
                        <listbox id="lstTipodocumento" multiple="true" rows="5">
                            <listhead>
                                <listheader label="" width="800px"/>
                            </listhead>
                        </listbox>
                    </groupbox>
                </hbox>
                <space/>
                <box>
                    <button id="btnLimpiarSeleccion" label="Limpiar Selección"/>
                </box>
            </groupbox>
            <groupbox open="true" closable="false">
                <caption label="Indices de Búsqueda"/>
                <grid id="panelIndice" >
                    <columns>
                        <column label=""/>
                        <column label=""/>
                        <column label=""/>
                        <column label=""/>
                    </columns>
                    <rows>                
                    </rows>
                </grid>
            </groupbox>
            <grid>
                <columns>
                    <column label=""/>
                    <column label=""/>
                </columns>
                <rows>
                    <row>
                        <cell align="center">
                            <button id="btnConsulta" label="Consultar" onClick=""/>
                        </cell>
                        <cell align="center">
                            <button label="Inicio" onClick="Executions.sendRedirect(&quot;principal.zul&quot;)"/>
                        </cell>
                    </row>
                </rows>
            </grid>
        </vlayout>
    </window>
</zk>
