<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window title="Digitaliza - Crear Expediente" id="winNuevoExpediente" 
            border="normal" apply="com.develcom.paginas.captura.CreaExpediente" width="60%"
            closable="true">
        <vlayout>
            <vbox>
                <groupbox mold="3d" open="true" closable="false">
                    <caption label="Infomacion"/>
                    <vbox>
                        <label id="lblLibreria" value="Libreria: "/>
                        <label id="lblCategoria" value="Categoria: "/>
                        <label id="lblSubCategoria" value="SubCategoria: "/>
                    </vbox>
                </groupbox>
                <groupbox mold="3d" open="true" closable="false">
                    <caption label="Indices"/>
                    <grid id="panelIndices" >
                        <columns>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                            <column label=""/>
                        </columns>
                        <rows>                
                        </rows>
                    </grid>
                </groupbox>
            </vbox>
            <grid>
                <columns>
                    <column label=""/>
                    <column label=""/>
                </columns>
                <rows>
                    <row>
                        <cell align="center">
                            <button id="btnGuardar" label="Crear Expediente" onClick=""/>
                        </cell>
                        <cell align="center">
                            <button id="btnCerrar" label="Cerrar" onClick=""/>
                        </cell>
                    </row>
                </rows>
            </grid>
        </vlayout> 
    </window>
</zk>
