<?xml version="1.0" encoding="UTF-8"?>
<?link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/plantilla.zul"?>
<?page title="DW4JWeb"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window self="@{define(content)}" border="normal" apply="com.develcom.paginas.elimina.EliminaDocumento" id="winElimina" title="Elimina">
        <vlayout width="100%">
            <groupbox open="true" closable="false">
                <caption label="Indique el Expediente"/>
                <box orient="horizontal" align="left">
                    <label value="Identificador del Expediente"/>
                    <textbox id="txtExpediente"  width="300px"/>
                    <space bar="true"/>
                    <label value="SubCategorias"/>
                    <combobox id="cmbSubCategorias"  width="300px"/>
                    <space bar="true"/>
                    <label id="lblFechaVencimiento"/>
                    <space bar="true"/>
                    <button id="btnRechazar" label="Rechazar"/>
                    <button label="Inicio" onClick="Executions.sendRedirect(&quot;principal.zul&quot;)"/>
                </box>
            </groupbox>
            <hbox>
                <groupbox  open="true" closable="false" width="300px">
                    <tree id="arbolDocumentos" rows="20"/>
                </groupbox>
                <space/>
                <groupbox  open="true" closable="false">
                    <iframe id="documento" height="800px" width="992px" style="border: 1px solid gray"/>
                </groupbox>
            </hbox>
        </vlayout>
    </window>
</zk>
