<?xml version="1.0" encoding="UTF-8"?>
<?link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/plantilla.zul"?>
<?page title="DW4JWeb"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window self="@{define(content)}" border="normal" title="Mantenimiento del DW4J" width="400px"
            apply="com.develcom.paginas.mantenimiento.Mantenimiento" id="winMantenimiento">
        <vlayout>
            <groupbox open="true" closable="false">
                <caption label="Configuracion de Base de Datos"/>
                <vbox align="right" pack="center">
                    <hbox align="center" pack="center">
                        <label value="Direción IP"/>
                        <textbox id="txtIP" value=""/>
                    </hbox>
                    <hbox align="center" pack="center">
                        <label value="Nombre"/>
                        <textbox id="txtNombre" value=""/>
                    </hbox>
                    <hbox align="center" pack="center">
                        <label value="Puerto"/>
                        <textbox id="txtPuerto" value=""/>
                    </hbox>
                    <hbox align="center" pack="center">
                        <label value="Usuario"/>
                        <textbox id="txtUsuario" value=""/>
                    </hbox>
                    <hbox align="center" pack="center">
                        <label value="Contraseña"/>
                        <textbox id="txtContrasenia" value="" type="password"/>
                    </hbox>
                </vbox>
            </groupbox>
            <groupbox open="true" closable="false">
                <caption label="Seleccione una opción para activar o desactivar"/>
                <vbox align="left" pack="center">
                    <checkbox id="chkCalidad" label="Activar o Desactivar Calidad" onCheck="" />
                    <checkbox id="chkFoliatura" label="Activar o Desactivar Foliatura" onCheck="" />
                    <checkbox id="chkFicha" label="Activar o Descativar Ficha" onCheck="" />
                    <checkbox id="chkCola" label="Activar o Desactivar Separación de Cola" onCheck="" />
                    <checkbox id="chkEliminar" label="Activar o Desactivar Eliminación de Documentos" onCheck="" />
                </vbox>
            </groupbox>
            <grid>
                <columns>
                    <column label=""/>
                    <column label=""/>
                </columns>
                <rows>
                    <row>
                        <cell align="center">
                            <button id="btnGuardar" label="Guardar"/>
                        </cell>
                        <cell align="center">
                            <button label="Inicio" onClick="Executions.sendRedirect(&quot;principal.zul&quot;)"/>
                        </cell>
                    </row>
                </rows>
            </grid>
        </vlayout>
    </window>
</zk>
