<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <!--menubar id="menudw4j" orient="vertical" autodrop="true" apply="com.develcom.paginas.menu.MenuPrincipal"-->
    <menubar id="menudw4j" autodrop="true" apply="com.develcom.paginas.menu.MenuPrincipal">
        <menu label="Sesión">
            <menupopup>
                <menuitem id="mnSalir" label="Salir"/>
            </menupopup>
        </menu>
        <menu id="mnExpediente" label="Expediente">
            <menupopup>
                <menuitem id="mnDigitalizar" label="Digitalizar"/>
                <menu id="mnCalidad" label="Calidad">
                    <menupopup>
                        <menuitem id="mnCalidadDoc" label="Calidad Documentos"/>
                        <menuitem id="mnActualizar" label="Actualizar Indices"/>
                        <menuitem id="mnEliminar" label="Eliminar Documento"/>
                    </menupopup>
                </menu>
                <menuitem id="mnConsultar" label="Consultar"/>
            </menupopup>
        </menu>
        <menu id="mnReporte" label="Reportes">
            <menupopup>
                <menuitem id="mnVencerse" label="Documentos a Vencerse"/>
                <menuitem id="mnVencidos" label="Documentos Vencidos"/>
                <menuitem id="mnRechazados" label="Documentos Rechazados"/>
                <menuitem id="mnPendAprobar" label="Documentos Pendientes por Aprobar"/>
                <menuitem id="mnCausaRechazo" label="Causa de Rechazo"/>
                <menuitem id="mnDigiRechAproPend" label="Documentos Digitalizados, Aprobados, Rechazados, Pendientes"/>
                <menuitem id="mnCrecimiento" label="Crecimiento Intermensual de Documentos"/>
                <menu id="mnIndexados" label="Reportes Documentos Indexados por Indexador">
                    <menupopup>
                        <menuitem id="mnCantidadDoc" label="Cantidad de Documentos Indexados por Indexador"/>
                        <menuitem id="mnDetalleDoc" label="Detalle de Documentos Indexados por Indexador"/>
                    </menupopup>
                </menu>
                <menuitem id="mnEstatusExp" label="Expedientes por Estatus y Usuarios"/>
                <menuitem id="mnEliminadoDoc" label="Documentos Eliminados"/>
            </menupopup>
        </menu>
        <menu id="mnAdministrar" label="Administrar">
            <menupopup>
                <menuitem id="mnUsuarios" label="Usuarios"/>
                <menuitem id="mnLibreria" label="Libreria"/>
                <menuitem id="mnCategoria" label="Categoria"/>
                <menuitem id="mnSubCategoria" label="SubCategoria"/>
                <menuitem id="mnTipoDocumento" label="Tipo de Documentos"/>
                <menuitem id="mnIndices" label="Indices"/>
                <menuitem id="mnFotoFicha" label="Foto Ficha"/>
                <menuitem id="mnDatosAdicionales" label="Datos Adicionales"/>
                <menu id="mnCombos" label="Listas Desplegables">
                    <menupopup>
                        <menuitem id="mnComboIndice" label="Lista Desplegables Indices"/>
                        <menuitem id="mnComboDatosAd" label="Lista Desplegables Datos Adicionales"/>
                    </menupopup>
                </menu>
            </menupopup>
        </menu>
        <!--menuseparator /-->
        <menu id="mnMantenimiento" label="Mantenimiento">
            <menupopup>
                <menuitem id="mnGestor" label="Gestor Documental"/>
            </menupopup>
        </menu>
    </menubar>
    <!--menubar id="menudw4j" orient="vertical" autodrop="true">
        <menuitem label="Administrar Miembros" onClick="Executions.sendRedirect(&quot;adminMiembros.zul&quot;)" />
        <menuitem label="Cambio de Contraseña" onClick="Executions.sendRedirect(&quot;password.zul&quot;)" />
        <menuitem label="Administrar Apoyos" onClick="Executions.sendRedirect(&quot;apoyo.zul&quot;)" />
        <menuitem label="Administrar Celulas" onClick="Executions.sendRedirect(&quot;celula.zul&quot;)" />
        <menuitem label="Administrar Sectores" onClick="Executions.sendRedirect(&quot;sectores.zul&quot;)" />
        <menuitem label="Administrar Niveles" onClick="Executions.sendRedirect(&quot;nivel.zul&quot;)" />
        <menuseparator />
        <menuitem label="Salir" onClick="Executions.sendRedirect(&quot;index.zul&quot;)" />
    </menubar-->
</zk>
