<?xml version="1.0" encoding="UTF-8"?>
<?page title="DW4JWeb"?> 

<zk xmlns="http://www.zkoss.org/2005/zul">

    <n:script xmlns:n="native">
        function disableBackButton() {
        window.history.forward();
        }
        setTimeout("disableBackButton()", 0);
    </n:script>

    <borderlayout apply="com.develcom.paginas.Plantilla">
        <!--north border="0" collapsible="true" vflex="1" splittable="true"-->
        <north id="norte" collapsible="true">
            <div>
                <toolbar align="end">
                    <toolbarbutton id="tbFechaHora"/>
                    <toolbarbutton id="tbUsuario"/>
                </toolbar>
                <!--caption id="capTitulo"/-->
                <!--image src="/images/logoAcacias1.png"/-->
                <include src="menu.zul"/>
            </div>
        </north>
        <!--west border="0" collapsible="true" vflex="1" splittable="true" width="170px">
            <include src="menu.zul"/>
        </west-->
        <center autoscroll="true">
            <!--window id="winPlantilla"-->
            <!--include src="menu.zul"/-->
            <!--toolbar align="end">
                <toolbarbutton id="tbUsuario"/>
                <toolbarbutton id="tbFechaHora"/>
            </toolbar-->
            <window height="100%" contentStyle="overflow:auto" id="winPlantilla" position="center">
                <!--caption id="capTitulo"/-->
                <!--caption>
                    <toolbarbutton id="tbTitulo"/>
                </caption-->
                <div align="center" self="@{insert(content)}" />
                <!--/window-->
                <!--textbox width="100%" height="1.2em" sclass="status" readonly="true" id="status" use="com.develcom.tools.barra.BarraEstado" />
                <timer id="statusTimer" running="false" repeats="false" onTimer='status.setText("");'/-->
            </window>
            <!--div align="center" self="@{insert(content)}"/-->
        </center>
        <!--south>
        </south-->
    </borderlayout>
</zk>
