<?xml version="1.0" encoding="UTF-8"?>
<?link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/plantilla.zul"?>
<?page title="DW4JWeb"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <style src="/css/dw4j.css" />
    <window self="@{define(content)}" >
        <groupbox width="65%" mold="3d" open="true" closable="false">
            <caption label="Document Warehouse for Java"/>
            <image src="/img/gestión-documental.jpg"/>
        </groupbox>
    </window>
</zk>
