<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul">
    <window border="normal" width="1048px" apply="com.develcom.paginas.reportes.Reporte" id="winReporte">
        <vlayout>
            <vbox align="center" pack="center">
                <button id="btnCerrar" label="Cerrar" onClick=""/>
                <iframe id="reporte"  height="1024px" width="1024px" style="border: 1px solid gray"/>
            </vbox>
        </vlayout>
    </window>
</zk>
