/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/01/2015, 02:34:34 PM
    Author     : develcom
*/

.letra-negrita {
    font-weight: bold;
    font-size: 12pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.letra-roja {
    font-weight: bold;
    font-size: 12pt;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}